  <div id="demographics" class="content panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Cog</h3>
    </div>
    <div class="demographicsContainer panel-body">

      <span class="genderExpLabel">Gender: </span>
      <br>
      <select name="gender" class="gender" placeholder="Gender">
        <option>Male</option>
        <option>Female</option>
      </select>
      <br>

      <input type="text" name="age" class="textBox age form-control" placeholder="Age"></input>
      <br>

      <span class="experienceLabel">Please select your current knowledge of the German language: </span>
      <br>
      <select name="experience" class="textBox experience" placeholder="Select:">
        <option>None</option>
        <option>Beginner</option>
        <option>Intermediate</option>
        <option>Advanced</option>
        <option>Fluent</option>
        <option>Native</option>
      </select>
      <br>
      <span class="error errorAge" style="display:none">Please enter a valid Age before continuing.</span><br>
      <button id="continue" class="button continue">Continue</button>
    </div>
  </div>