<div class="body">
  <div id="login" class="content panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Cog</h3>
    </div>
    <div class="panel-body loginContainer">
      <input type="text" name="id" id="idInput" class="form-control textBox id" placeholder="ID #"></input>
      <br>
      <form id="daySelector">
        <input type="radio" name="group1" class="day1" value="1" checked="true"> Day 1<br>
        <input type="radio" name="group1" class="day2" value="2"> Day 2
      </form>
      <button class="button btn-sm btn-primary" id="start">Press start to play!</button>

      <span class="error" style="display:none">Please enter a valid id. If you need an id, please see the RA.</span>
    </div>
  </div>
</div>
