<div id="main">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">ng-cog</h3>
    </div>
    <div class="panel-body center-content">
      <div class="questions">
        <span class="questionText knownPhrase">{{knownPhrase}}</span>
        <span class="divider">+</span>
        <span class="questionText unknownPhrase">{{unknownPhrase}}</span><br>
      </div>
      <input type="text" class="answerInput form-control"></input>

      <span class="error" ng-show"error">{{errorMessage}}</span>
    </div>
  </div>
</div>